---
---

<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class="content-wrapper">
          <div class="content-container">
            {% for page in site.pages %}
              {% if page.title == "Am Dengu, Swêas, ach Râiâdhan // On Language, Identity, and Purpose" %}
                <div class="card">
                  <h2>{{ page.title }}</h2>
                  <small><i class="material-icons">flag</i>Pinned</small>
                  <p>
                    {{ page.content | markdownify | truncatewords:29 }}
                  </p>
                </div>
              {% endif %}
            {% endfor %}
            {% for article in site.articles %}
              <div class="card">
                <h2>{{ article.title }}</h2>
                <small>{{ article.category }}</small>
                <p>
                  {{ article.content | markdownify | truncatewords:29 }}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
        {% include footer.html %}
    </body>
</html>