---

---

<!DOCTYPE html>
<html>
    <head>
      <title>Bessus Noricon</title>
      {% include head.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class="content-wrapper">
          <div class="content-container" markdown="1">
            {{ "## On Language, Identity, and Purpose 
Suauelos! (Welcome!) Welcome to Bessus Noricon, a modern attempt to chronicle and explore the old Celtic relgious practices of the Eastern Alpine Celts, especially those of:

+ the Carni
+ and the Taurisci Federation:
  - the Alauni
  - the Ambidravi/Ambidrani
  - the Ambilici
  - the Ambisontes/Ambisontii
  - the Norici
  - the Sevaces

For the purpose of clarity in the rest of this project, I will likely refer to this tradition as 'Norican', after the Kingdom of Noricum, although the Norici often were synonymous with, independent from, suboordinated by, or in competition with the Taurisci at various times throughout history.

Before I continue, I would like to thank Selgowiros Caranticnos of Senobessus Bolgon (which you may find [here](https://senobessusbolgon.wordpress.com/)) for the incredible work he has done in bringing to life the old customs of the Belgae, and for the encouragement and inspiration he has given me to pursue this project. For both I am grateful.

As a member of the Gaulish Polytheist Community, and an aspiring member of the Toutâ Galation (both of which you may find [here](https://www.facebook.com/groups/162531797160858/) and [here](https://www.facebook.com/groups/933692526717833/), respectively), I will not condone, and in fact will condemn, exclusion of anyone from this religious practice on the basis of race, gender, sexual orientation, or anything of the like. It is unfortunate that I must specify this, and even more unfortunate that other groups taint the name of this beautiful religious custom (as well as many others) and co-opt them for their hate. I will have none of it here." | markdownify }}
          </div>
        </div>
        {% include footer.html %}
    </body>
</html>
