---
---

<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class="content-wrapper">
          <div class="content-container">
            <div class="card">
              <h2>Am Dengu, Swêas, ach Râiâdhan // On Language, Identity, and Purpose</h2>
              <small><i class="material-icons">flag</i>Pinned</small>
              <p>
                Swâel! (Welcome!) Welcome to Bescoth Norichach, a modern attempt to chronicle, revive, flesh out, and update the old Celtic relgious practices of the Eastern Alpine Celts, especially those of...
              </p>
            </div>
          </div>
        </div>
        {% include footer.html %}
    </body>
</html>