<footer>
  <h2>Bescoth Norichach</h2>
  <div class="footer-wrapper">
    <div class="footer-col">
      <ul>
        <li>Bescoth Norichach</li>
        <li><a href="mailto:shanekrusen@gmail.com">shanekrusen@gmail.com</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li>
          <a href="https://github.com/shanekrusen">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/img/minima-social-icons.svg#github' | relative_url }}"></use></svg>
            shanekrusen
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/shanekrusen">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/img/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
            shanekrusen
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <p>Religious and Cultural customs of the Eastern Alpine Celts.</p>
    </div>
  </div>
</footer>