<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
<meta name="theme-color" content="#ED2939">
<title>Bescoth Norichach</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fonts.css' | relative_url }}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7343874862059411",
    enable_page_level_ads: true
  });
</script>