<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
<meta name="theme-color" content="#ED2939">
<meta name="description" content="Religious and Cultural customs of the Eastern Alpine Celts." />
<meta name="twitter:description" content="Religious and Cultural customs of the Eastern Alpine Celts.">
<meta property="og:description" content="Religious and Cultural customs of the Eastern Alpine Celts." />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@sapwidheghnath">
<meta name="twitter:creator" content="@sapwidheghnath">
<meta property="og:site_name" content="Bessus Noricon" />
<meta name="twitter:image" content="{{ '/assets/img/header-back.jpg' | relative_url }}">
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.bescothnorichach.com/" />
<meta property="og:image" content="{{ '/assets/img/header-back.jpg' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fonts.css' | relative_url }}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7343874862059411",
    enable_page_level_ads: true
  });
</script>