<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
<meta name="theme-color" content="#ED2939">
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
<meta name="description" content="Religious and Cultural customs of the Eastern Alpine Celts." />
<meta name="twitter:description" content="Religious and Cultural customs of the Eastern Alpine Celts.">
<meta property="og:description" content="Religious and Cultural customs of the Eastern Alpine Celts." />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@sapwidheghnath">
<meta name="twitter:creator" content="@sapwidheghnath">
<meta property="og:site_name" content="Bessus Noricon" />
<meta name="twitter:image" content="{{ '/assets/img/header-back.jpg' | relative_url }}">
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.bescothnorichach.com/" />
<meta property="og:image" content="{{ '/assets/img/header-back.jpg' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fonts.css' | relative_url }}" />
<!-- generics -->
<link rel="icon" href="{{ '/assets/img/favicons/favicon-32.png' | relative_url }}" sizes="32x32">
<link rel="icon" href="{{ '/assets/img/favicons/favicon-57.png' | relative_url }}" sizes="57x57">
<link rel="icon" href="{{ '/assets/img/favicons/favicon-76.png' | relative_url }}" sizes="76x76">
<link rel="icon" href="{{ '/assets/img/favicons/favicon-96.png' | relative_url }}" sizes="96x96">
<link rel="icon" href="{{ '/assets/img/favicons/favicon-128.png' | relative_url }}" sizes="128x128">
<link rel="icon" href="{{ '/assets/img/favicons/favicon-192.png' | relative_url }}" sizes="192x192">
<link rel="icon" href="{{ '/assets/img/favicons/favicon-228.png' | relative_url }}" sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="{{ '/assets/img/favicons/favicon-196.png' | relative_url }}">

<!-- iOS -->
<link rel="apple-touch-icon" href="{{ '/assets/img/favicons/favicon-120.png'  | relative_url }}" sizes="120x120">
<link rel="apple-touch-icon" href="{{ '/assets/img/favicons/favicon-152.png' | relative_url }}" sizes="152x152">
<link rel="apple-touch-icon" href="{{ '/assets/img/favicons/favicon-180.png' | relative_url }}" sizes="180x180">

<!-- Windows 8 IE 10-->
<meta name="msapplication-TileColor" content="#ed2939">
<meta name="msapplication-TileImage" content="{{ '/assets/img/favicons/favicon-144.png' | relative_url }}">

<!— Windows 8.1 + IE11 and above —>
<meta name="msapplication-config" content="{{ '/assets/img/favicons/browserconfig.xml' | relative_url }}" />
                                                                                  
<script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7343874862059411",
    enable_page_level_ads: true
  });
</script>