<div class="nav-drop" id="nav-drop">
    <div id="nav-close"><span id="close-button">X</span></div>
    <span>Deuoi/Deities</span>
    {% for article in site.articles %}
        {% if article.category == "Deities" %}
            <a href="{{ article.url }}">&emsp;· {{ article.short_title }}</a>
        {% endif %}
    {% endfor %}
    <span>Uerensus/Practice</span>
    {% for article in site.articles %}
        {% if article.category == "Practice" %}
            <a href="{{ article.url }}">&emsp;· {{ article.short_title }}</a>
        {% endif %}
    {% endfor %}
    <span>Īuoi/Holidays</span>
    {% for article in site.articles %}
        {% if article.category == "Holidays" %}
            <a href="{{ article.url }}">&emsp;·  {{ article.short_title }}</a>
        {% endif %}
    {% endfor %}
    <span>Spetlā/Myths</span>
    {% for article in site.articles %}
        {% if article.category == "Myths" %}
            <a href="{{ article.url }}">&emsp;·  {{ article.short_title }}</a>
        {% endif %}
    {% endfor %}
</div>
<div id="shader"></div>
<div class="header" style="background-image: url({{ '/assets/img/header-back.jpg' | relative_url }});">
    <img class="title" src="{{ '/assets/img/title.png' | relative_url }}">
</div>
<nav class="nav-links" id="nav-links">
    <div class="link"><a href="{{ site.baseurl }}{% link index.html %}"><b>Cintudolā</b><br />Home</a></div>
    <div class="link"><a href="{{ site.baseurl }}{% link reading.md %}"><b>Sioxtiuiđđus</b><br />Reading</a></div>
    <div class="link" id="theology"><a><b>Deuouiđđus</b><br />Theology</a></div>
</nav>
