<div class="mobile-header"></div>
<div class="header" style="background-image: url({{ '/assets/img/header-back.jpg' | relative_url }});">
    <h1 class="italic-script">{{ site.name }}</h1>
</div>
<nav class="nav-links" id="nav-links">
    <div class="link"><a href="{{ site.baseurl }}{% link index.html %}">Home</a></div>
    <div class="link"><a href="{{ site.baseurl }}{% link about.md %}">About</a></div>
  <!--<div class="link">Theology</div>
  <div class="link">Reading</div>-->
</nav>
<div class="fab">
  <div class="fab-button" id="fab-expand">
    <i class="material-icons">menu</i>
  </div>
  <div class="fab-actions" id="fab-actions">
    <div class="fab-link">
      <a href="{{ site.baseurl }}{% link index.html %}" class="nav-link">
        <!--<span class="link-tooltip">Home</span>-->
        <i class="material-icons">home</i>
        <small>Home</small>
      </a>
    </div>
    <div class="fab-link">
      <a href="{{ site.baseurl }}{% link about.md %}" class="nav-link">
        <!--<span class="link-tooltip">About</span>-->
        <i class="material-icons">device_unknown</i>
        <small>About</small>
      </a>
    </div>
    <!--<div class="fab-link">
      //<span class="link-tooltip">About</span>
      <i class="material-icons">account_balance</i>
      <small>Theology</small>
    </div>
    <div class="fab-link">
      //<span class="link-tooltip">About</span>
      <i class="material-icons">book</i>
      <small>Reading</small>
    </div>-->
  </div>
</div>