.body {
  color: rgba(0,0,0,.84);
  font-family: Georgia, Times, serif;
  overflow-y: none;
}

h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.content-wrapper {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.content-wrapper h2 {
  width: 100%;
  font-weight: 600;
}

.content-wrapper p {
  width: 100%;
}

.content-container {
  width: 75%;
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid gainsboro;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.deity-image {
    align-self: center;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deity-image img {
    max-width: 80%;
}

.sidebar {
  width: 25%;
  background-color: white;
  z-index: 0;
  position: relative;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card-link {
  color: rgba(0,0,0,.84);
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h2 {
  margin-bottom: 5px;
  text-align: center;
}

.card small {
  color: grey;
  width: 95%;
  text-align: center;
  display: block;
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  
  .content-container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 45%;
  }
  
  .a-card {
    width: 100%;
  }
  
  .card-link {
    display: flex;
    width: 49%;
  }
}