.body {
  color: rgba(0,0,0,.84);
  font-family: Georgia, Times, serif;
}

h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.content-wrapper {
  width: 100%;
  height: auto;
  display: table;
  align-items: center;
  justify-content: center;
}

.content-wrapper h2 {
  width: 100%;
  font-weight: 600;
  font-size: 34px;
}

.content-container {
  width: 75%;
  margin-left: 5px;
  display: table-cell;
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid gainsboro;
}

.sidebar {
  width: 25%;
  background-color: white;
  display: table-cell;
  z-index: 0;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}