<!DOCTYPE html>
<html>
    <head>
      <title>{{ page.title }} - Bessus Noricon</title>
      <meta name="twitter:title" content="{{ page.title }}">
      <meta property="og:title" content="{{ page.title }}" /> 
      {% include head.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class="content-wrapper">
          <div class="content-container">
            <h2>{{ page.title }}</h2>
            {{ content }}
          </div>
          <div class="sidebar">
            <br />
            <img src="{{ '/assets/img/touta.png' | relative_url }}">
            <br />
            <i>Member of the Toutā Galatīon Network</i>
            <br />
            <img src="{{ '/assets/img/antifa.png' | relative_url }}">
            <br />
            <i>Bessus Noricon is Antifascist</i>
            <br />
          </div>
        </div>
        {% include footer.html %}
    </body>
</html>