<!DOCTYPE html>
<html>
    <head>
      <meta name="HandheldFriendly" content="true" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>

      <title>Bescoth Norichach</title>
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
      <link rel="stylesheet" href="{{ '/assets/fonts.css' | relative_url }}" />
      <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
    </head>
    <body>
        <div class="header" style="background-image: url({{ '/assets/img/header-back.jpg' | relative_url }});">
            <h1 class="italic-script">{{ site.name }}</h1>
        </div>
        <nav class="nav-links" id="nav-links">
          <div class="link">Home</div>
          <div class="link">Posts</div>
          <div class="link">Theology</div>
          <div class="nav-mobile-link">
            <i>Menu</i>
          </div>
        </nav>
        <div class="content-wrapper">
          <div class="sidebar"></div>
          <div class="content-container">
            {{ content }}
          </div>
          <div class="sidebar"></div>
        </div>
    </body>
</html>